:root {
  --textColor: white;
  --black: #1f1f1f;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--black);
  overflow-x: hidden;
}

/* General styling */

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* Header styling */
.header {
  background-color: rgba(0, 0, 0, 0.397);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.headerNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.headerNav a {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--textColor);
  text-decoration: none;
}

/* Opening Sprawl Styling */
.openingSprawl {
  background-image: url(../imgs/benjamin-thomas-idEEZ-wQkfA-unsplash.jpg);
  background-attachment: fixed;
  background-size: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.openingSprawl h1 {
  margin: 0;
  padding: 0;
  color: var(--textColor);
  font-size: 4rem;
  letter-spacing: 1.5rem;
  text-shadow: 0 2rem 1rem black;
}

/* General section styling  */
.sectionHeader {
  color: var(--textColor);
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

/* About us section styling */

.aboutUsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutUsTxtBlock {
  width: 60%;
  color: var(--textColor);
  font-size: 2rem;
}

/* Our Work section styling */

.ourWork {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controlsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  align-items: center;
  justify-items: center;
}

.controlBtn {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  padding: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.397);
  color: var(--textColor);
  cursor: pointer;
  transition: all 0.5s;
}

.controlBtn:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.602);
}

.controlSVG {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

.ourWorkDisplayContainer {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
  overflow-y: hidden;
}

.ourWorkTextContainer {
  overflow-y: scroll;
}

.ourWorkTxtBlock {
  color: var(--textColor);
  font-size: 2rem;
}

.demoWorkImg {
  background-size: 50%;
  border-radius: 0.8rem;
  background-attachment: fixed;

  overflow-x: hidden;
  overflow-y: hidden;
}

.demoImgOne {
  background-image: url(../imgs/janosch-lino-oQQEXoG8Oqc-unsplash.jpg);
}

.demoImgTwo {
  background-image: url(../imgs/samantha-fortney-VqXio0EvV1A-unsplash.jpg);
}

/* Reviews section styling */

.reviewsControl {
  position: absolute;
  z-index: 4;
}

.controlLeft {
  left: 0;
}

.controlRight {
  right: 0;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviewsContainer {
  display: flex;
  flex-direction: row;
}

.reviewWrapper {
  width: 100%;
  display: grid;

  grid-template-columns: 1fr 3fr 1fr;
}

.review {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.8rem;
  transition: all 0.5s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.602);
  /* add sliding animation for the reviews */
}

.review.unfocusedReview {
  transform: scale(0.7);
}

.clientName {
  font-size: 2.5rem;
  color: var(--textColor);
  margin-bottom: 1rem;
}

.stars {
  color: var(--textColor);
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.reviewTxt {
  font-size: 1.7rem;
  color: var(--textColor);
}

.moreReviewsLink {
  font-size: 1.5rem;
  color: var(--textColor);
  margin-top: 3rem;
  margin-left: auto;
  margin-right: 4rem;
}

/* Contact us section styling */

.contactUs {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  gap: 2rem;
  justify-items: center;
  align-items: center;
  width: 80%;
}

.contactUsTxtBlock {
  font-size: 2rem;
  color: var(--textColor);
  /* width: 60%; */
}

.contactInfo {
  font-size: 2rem;
  color: var(--textColor);
  margin-right: auto;
}

/* Footer styling */

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: rgba(0, 0, 0, 0.397);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footerNav {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.footerNav a {
  font-size: 1.5rem;
  color: var(--textColor);
  text-decoration: none;
}

.credit {
  font-size: 1.5rem;
  color: var(--textColor);
}

.creditLink {
  font-size: 1.5rem;
  color: var(--textColor);
}
